#contact {
    background: #F7F7F7;
    padding: 50px 0;

    h2, h5 {
        text-align: center;
    }


    .box {
        background: #fff;
        padding: 70px;


        .city {
            font-size:2rem;
            font-family: $displayFont;
            margin-bottom: 2rem;
        }

        .title {
            font-weight: 700;
            font-size: 1.7rem;
        }

        .hours {
            margin-top: 10px;
        }

        .times {
            font-size: 1.2rem;
        }

        .map {
            margin-top: 5px;
        }

        h6 {
            font-size: .9rem;
            font-weight: 800;
            color: $titleColor;
            line-height: 1.7rem;   
        }

        p {
            margin-bottom: 20px;
            strong {
                color:$black;
                text-transform: capitalize;
                font-weight: 600;
            }

            a {
                color: $paragraphColor;
                text-decoration: none;

                &:hover {
                    color:$red;
                }
            }
        }
    }


}