#footer {
    padding: 75px 0;
    background: $footerBG;
    width: 100%;
    text-align: center;

    nav {
        margin: 0 auto 50px;
        display:inline-block;
        a {
            color: white;
            display: inline-block;
            padding: 10px 20px 10px 0;
            text-decoration: none;
        }
    }

    .social {
        padding:0;
        margin:0 0 50px;
        
        li {
            display:inline-block;
            padding: 20px;
            color:white; 

            a {
                &:hover {
                    color:$red;
                }
            }
        }
    }

    .copyright {
        color: $titleColor;
    }
}