@import "reset";
@import "variables";
@import "grid";
@import "Header";
@import "TopImg";
@import "Story";
@import "Menu";
@import "global";
@import "randomQuote";
@import "contact";
@import "reviews";
@import "footer";

@font-face {
  font-family: road_rage;
  src: url('/fonts/Road_Rage.otf');
}

body {
  font-family: $textFont;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}
